{% extends 'index.html' %}
{% block content %}
    <style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
     text-align: -webkit-center;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;

  background-color: #26a5b6;
  color: white;
}
</style>
</head>
<body>

<table id="customers">
  <tr>
    <th>Product ID</th>
    <th>Name</th>
    <th>Garment Company</th>
    <th>Price</th>
      <th>Current Stock</th>
      <th>Description</th>
      <th>Action</th>
  </tr>

    {% for item in list %}
        <tr>
            <td>{{ item.product_id }}</td>
            <td>{{ item.Name }}</td>
            <td>{{ item.garment.name }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.current_stock }}</td>
            <td>{{ item.description }}</td>
            <td> <a type="button" class="alert-dark" href="{% url 'GarmentsManagementApp:editProduct' pk=item.id %}">Edit    [] </a> <a type="button" class="alert-danger" href="{% url 'GarmentsManagementApp:deleteProduct' pk=item.id %}" onclick="alert('Are you sure?')">Delete</a></td>
        </tr>
    {% endfor %}


</table>
{% endblock %}