{% extends 'index.html' %}
{% block content %}
    <style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
    text-align: center;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers button {
    background-color: #50c764
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #26a5b6;
  color: white;
}
</style>
</head>
<body>

<table id="customers">
  <tr>
      <th>OrderID</th>
    <th>Customer Name</th>
    <th>Phone</th>
    <th>Product Name</th>
      <th>Product Description</th>
      <th>Garments Name</th>
      <th>Status</th>
      <th>Department</th>
      <th>Quantity</th>
      <th>Total Price</th>
      <th>Action</th>
  </tr>

    {% for item in list %}
        <tr>
            <td>{{ item.OrderID }}</td>
            <td>{{ item.CustomerName}}</td>
            <td>{{ item.CustomerPhn }}</td>
            <td>{{ item.product.Name }}</td>
            <td>{{ item.product.description }}</td>
            <td>{{ item.product.garment.name }}</td>
            <td>{{ item.Status }}</td>
            <td>{{ item.department.Name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.TotalPrice }}</td>
            <td>  <a type="button" class="alert-danger" href="{% url 'GarmentsManagementApp:deleteOrder' pk=item.id  %}" onclick="alert('Are you sure?')">Delete</a> <br>

            {% if item.Status != 'Shipped' %}
                    <a type="button" class="alert-danger" href="{% url 'GarmentsManagementApp:forwardOrder' pk=item.id  %}" onclick="alert('Are you sure?')">Forward to Next Dept.</a><br>
               {% if item.department.Name != 'Production' %}
                <a type="button" class="alert-danger" href="{% url 'GarmentsManagementApp:rejectOrder' pk=item.id  %}" onclick="alert('Are you sure?')">Send Back to Prev. Dept.</a>
                {% endif %}
            {% endif %}
            </td>
        </tr>
    {% endfor %}


</table>
{% endblock %}